.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.illustration {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--boom-theme-text-tertiary);
}

.illustrationSm {
  width: 64px;
  height: 64px;
  font-size: 2rem;
}

.illustrationMd {
  width: 96px;
  height: 96px;
  font-size: 3rem;
}

.illustrationLg {
  width: 128px;
  height: 128px;
  font-size: 4rem;
}

.description {
  color: var(--boom-theme-text-secondary);
}
